<%- include('partials/header.ejs') %>

<div class="container d-flex justify-content-center align-items-center background-about" style="min-height: 100vh;">
  <div class="px-4 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis mb-4">Eduardo Segantine</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Originally from Brazil, and I've embarked on a remarkable journey to explore 43 countries across 5 continents. My ultimate goal is to step foot in every country on this planet. Join me as I share my global adventures and work towards fulfilling my dream of experiencing the world, one country at a time.</p>
    <div class="overflow-hidden" style="max-height: 30vh;">
    </div>
  </div>
</div>
<div class="container">
  <img src="/public/images/self.jpg" class="img-fluid border rounded-5 shadow-lg mb-6 self-image" alt="self-image" loading="lazy">
</div>

<%- include('partials/footer.ejs') %>
