<%- include('partials/header.ejs') %>

<!-- homepage-banner -->
<div class="row featurette my-5 background">
  <div class="col-md-7 banner-text">
    <h2 class="featurette-heading">Passport to Adventure: The Travel Tribe</h2>
    <p class="lead">"The world is a book, and those who do not travel read only one page." - Saint Augustine</p>
  </div>
  <div class="col-md-5">
    <img src="public/images/banner-img.jpg" alt="Yellow Volkswagen Van on Road" class="mt-4 rounded-4 shadow-lg" width="589">
  </div>
</div>

<!-- blog-posts -->
<div class="m-4">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">"A Moroccan Adventure: Exploring Tangier, Casablanca, Fes, and Chefchaouen"</h3>
          <div class="mb-1 text-muted">Dec 12</div>
          <p class="card-text mb-auto">A tapestry of culture, history, and beauty awaits in this unforgettable adventure.</p>
          <a href="/blog/moroccos" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="../public/images/moroccos.jpg" alt="Thumbnail">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"></strong>
          <h3 class="mb-0">"Snowboarding Adventures and Beyond: A Memorable Week in Andorra"</h3>
          <div class="mb-1 text-muted">Nov 5</div>
          <p class="mb-auto">Experience the thrill of snowboarding and explore Andorra's treasures in a week of adventure and discovery.</p>
          <a href="/blog/andorra" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="../public/images/andorra.jpg" alt="Thumbnail">
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">"Samba, Sunsets, and Sugarloaf: A Rio de Janeiro Vacation to Remember"</h3>
          <div class="mb-1 text-muted">Oct 1</div>
          <p class="card-text mb-auto">Experience the magic of Rio de Janeiro—a captivating blend of beaches, landmarks, samba rhythms, and vibrant culture that promises an unforgettable vacation.</p>
          <a href="/blog/riodejaneiro" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="../public/images/riodejaneiro.jpg" alt="Thumbnail">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"></strong>
          <h3 class="mb-0">"Dazzling Dubai: Skyscrapers, Deserts, and Arabian Nights"</h3>
          <div class="mb-1 text-muted">Sep 10</div>
          <p class="mb-auto">Discover the allure of Dubai—a city of modern marvels, desert adventures, and rich traditions. Experience the extraordinary in this captivating destination.</p>
          <a href="/blog/dubai" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="../public/images/dubai.jpg" alt="Thumbnail">
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-footer">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">"California Dreaming: Exploring the Golden State's Wonders"</h3>
          <div class="mb-1 text-muted">Sep 22</div>
          <p class="card-text mb-auto">Explore the beauty and diversity of California, from stunning coastlines and vibrant cities to serene deserts and iconic landmarks. Discover the magic of the Golden State.</p>
          <a href="/blog/california" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="../public/images/california.jpg" alt="Thumbnail">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"></strong>
          <h3 class="mb-0">"Jericoacoara: A Brazilian Paradise Unveiled"</h3>
          <div class="mb-1 text-muted">Aug 4</div>
          <p class="mb-auto">Explore the magic of Jericoacoara, Brazil's hidden gem, with its pristine beaches and captivating sunsets.</p>
          <a href="/blog/jericoacoara" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="../public/images/jericoacoara.jpg" alt="Thumbnail">
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
