.footer-content-color {
  color: white !important;
}

.custom-footer {
  justify-content: end;
  margin-right: 20px;
}

.custom-nav {
  justify-content: end;
  margin-right: 20px;
}

.argetina-flag {
  
}
